.advantage-card {
    width: 60%;
    min-width: 200px;
    text-align: justify;
    margin: 5rem auto;
    display: flex;
}

.advantage-card img {
    object-fit: contain;
}

.text-container {
    width: 100%;
    margin-left: 3rem;
}

.advantage-card h1 {
    color: #4d4d4d;
    text-shadow: 2px 2px 1px #999;
    margin: 1rem 0;
    height: 10%;
}

.advantage-card p {
    color: #4d4d4d;
    font-family: 'Exo';
    font-size: 1.1rem;
    word-spacing: 2px;
    margin-top: 2rem;
}