.answer-card {
    height: auto;
    text-align: center;
}

.answer-card img {
    width: calc(6rem + 1.5vw);
    margin: 1.5rem;
}

.answer-card h1 {
  font-size: calc(1rem + 0.5vw);
}

.answer-card p {
    font-family: 'Exo';
    font-size: calc(1rem + 0.1vw);
    word-spacing: 3px;
    text-align: justify;
}