.become-container {
    display: flex;

    width: 80%;
    height: auto;
    margin: auto;
    margin-bottom: 5rem;

    border-radius: 10px;
    border-left: 10px solid var(--yellow);
    box-shadow: 2px 2px 5px var(--dark-grey);
    overflow: hidden;
}

.become-image {
    background-image: linear-gradient(90deg, rgba(255,255,255,0.022829200039390707) 80%, rgba(250,250,250,1) 100%), url("http://localhost:8000/images/static/become1.jpg");
    background-position: 30% 20%;
    background-size: cover;
    width: 60vw;
}

.become-text {
    background-color: #fafafa;
    width: 70vw;
    text-align: right;
    padding: calc(1rem + 1vw);
}

.become-text h1{
    font-size: calc(2rem + 1.5vw);
    color: var(--yellow);
    margin: 0;
    text-shadow: 2px 2px 2px var(--dark-grey);
}

.become-text p{
    color: var(--dark-grey);
    letter-spacing: 0.1vw;
}