.city-card {
    background-color: var(--med-grey);
    border-radius: 10px;
    box-shadow: 2px 2px 3px var(--dark-grey);  
    overflow: hidden; 
}

.city-card-img {
    width: 100%;
}

a .city-card-name {
    padding-right: 2rem;
    text-align: right;
    color: whitesmoke;
    text-shadow: 2px 2px 3px var(--dark-grey);
}