.guide-register-form-container {
    box-sizing: border-box;
    font-family: 'Exo', sans-serif;
    font-size: large;
    color: #4d4d4d;
    margin: 3rem auto;
    width: 80%;    
    /* display: flex; */
    /* flex-wrap: wrap;
    justify-content: space-between; */
}

.guide-register-form-container .form-group {
    margin: 1rem auto 1rem;
}

/* fieldset.w20 {
    width: 20%;
}

fieldset.w40 {
    width: 40%;
} */
