.hero-container {
    height: 95vh;
    background: url(../../images/hero-image-bg2.jpg) no-repeat 30%/cover;
    /*background-position: 40% para el fondo naranja */
    box-shadow: 2px 0 5px #4D4D4D;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-card {
    font-family: 'Exo', sans-serif;
    position: absolute;
    left: 20%;
    right: 10%;
    max-width: 600px;
    text-align: left;
}

.hero-card h1 {
    font-family: 'Fredoka One', sans-serif;
    font-size: 3rem;
    font-weight: normal;
    color: #4D4D4D;
    text-shadow: 1px 1px whitesmoke;
    text-transform: uppercase;
}

.hero-info {
    padding: 0.5rem 5%;
    background-color: #4d4d4d2c;
    border-radius: 10px;

}

.hero-info h3{
    color: whitesmoke;
    text-shadow: 1px 1px #4D4D4D;
}

.hero-input {
    background-color: whitesmoke;
    padding: 1rem 5%;
    margin-top: 3rem;
    border-radius: 10px;
    box-shadow: 2px 2px 2px #4D4D4D;

}

.hero-input h1 {
    font-size: 1.5rem;
    color: #ffcc00;
    text-shadow: 1px 1px #4d4d4d;
}

.hero-input input {
    background-color: transparent;
    color: #4d4d4d;
    font-size: large;
    outline: none;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: solid #ffcc00 2px;
    padding: 3px 10px;
    width: 50%;
}

.hero-input button {
    border-style: none;
    border-radius: 5px;
    background-color: #ffcc00;
    color: #4d4d4d;
    font-family: 'Fredoka One', sans-serif;
    font-size: medium;
    padding: 7px 14px;
    letter-spacing: 2px;
    float: right;
}