.hero-container {
    height: calc(65vh + 14vw);
    background: url("http://localhost:8000/images/static/hero-image-bg2.jpg") no-repeat 30%/cover;
    box-shadow: 2px 0 5px var(--dark-grey);
    position: relative;
    align-items: center;
    justify-content: center;
}

.hero-card {
    position: absolute;
    left: 10vw;
    right: 10vw;
    max-width: 600px;
    text-align: left;
    margin-top: 8vh;
    padding: 0.5rem 5%;
    background-color: #4d4d4d2c;
    border-radius: 10px;
}

.hero-h3{
    color: whitesmoke;
}

.hero-h1 {
    font-family: 'Fredoka One', sans-serif;
    font-size: calc(16px + 2vw + 1vh);
    text-shadow: 2px 2px whitesmoke;
    text-transform: uppercase;
}

.hero-input {
    background-color: whitesmoke;
    justify-content: space-evenly;
    margin: 3vh 0;
    border-radius: 10px;
    padding: 0 2vw;
    box-shadow: 2px 2px 2px var(--dark-grey);
}

.input-cities{
    width: calc(350px + 1vw);
    margin-right: 1vw;
    display: block;
}
