.guide-card {
    background-color: #ffcc00;
    text-decoration: none;
    border-radius: 10px;
    box-shadow: 2px 2px 3px var(--dark-grey);   
}

.guide-card-img {
    width: 100%;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

a .guide-card-name {
    font: 2rem 'Fredoka One', sans-serif;
    text-align: left;
    color: var(--dark-grey);
    text-shadow: 2px 2px 2px var(--light-grey);
    margin: 0.5rem calc(1rem + 0.5vw);
}

.guide-card-about {
    font: italic 1rem 'Exo', sans-serif;
    text-align: justify;
    padding: 0 calc(0.8rem + 0.9vw) 0 calc(2rem + 1.2vw);
    color: var(--dark-grey);
    letter-spacing: 0.05vw;
}

