nav {
    position: fixed;
    top: 0;
    z-index: 100;

    display: flex;
    justify-content: space-between;
    align-items: center;

    box-sizing: border-box;
    height: 7vh;
    min-height: 50px;
    width: 100%;

    background-color: whitesmoke;
    box-shadow: 2px 0 5px var(--dark-grey);

    padding: 1rem 10%;
}

.logo {
    height: 2rem;
}