.register-container {
   font-size: calc(1rem + 0.25vw);
    text-align: center;
    background: linear-gradient(195deg, #ffcc0090 7%, #ffffff94 30%, #fff 100%); 
    padding-top: calc(1rem + 0.5vh);
}

.register-form-container {
    text-align: left;
    margin: 2rem auto 5rem;
    min-width: 350px;
    width: calc(300px + 15vw);
}

.register-container h1 {
    font-family: 'Fredoka One', sans-serif;
    font-size: 3rem;
    color: var(--dark-grey);
    text-shadow: 3px 3px 3px #fafafa;
}

.register-container p {
    margin: 1rem 1rem;
}

form small {
    display: block;
    margin: 0 0 0.5rem 1rem;
}


.check {
    display: inline-block;
    width: 20%;
}