.guides-section-container {
    box-sizing: border-box;
    width: 80%;
    margin: 3.5rem 10%;
    font-family: 'Fredoka One', sans-serif;
    font-size: 1.5rem;
    color: #4d4d4d;
/*     text-shadow: 1px 1px 1px #4D4D4D;
 */}

.guides-cards-container,
.guides-header-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: stretch;
    flex-wrap: wrap;
    margin-bottom: 2rem;
}

.guides-header-container {
    border-bottom: 2px solid #FFCC00;
}