.banner-container {
    display: flex;
    background-image: linear-gradient(120deg, #d4d4d4 0%, rgba(255,255,255,1) 50%, rgba(255,204,0,0) 100%), url("../../images/results_banner_bg.jpg");
    background-position: center right;
    background-size: auto;
    background-repeat: no-repeat;
    width: 100%;
    margin: auto;
    padding: 3rem 0;
    overflow: hidden;
    box-shadow: 2px 0 5px #999;
}

.banner-text {
    width: 60%;
    text-align: left;
    padding-left: 10%;
}

.banner-text h1{
    font: 3rem 'Fredoka One', sans-serif;
    color: #ffcc00;
    margin: 0;
    text-shadow: 2px 2px 2px #4d4d4d;
}

.banner-text p{
    font: bold 1rem 'Exo', sans-serif;
    color: #4d4d4d;
    text-shadow: 1px 1px 1px #dadada;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.banner-image {
    background-position: 30% 20%;
    background-size: cover;
    width: 50%;
}


