.section-container {
    box-sizing: border-box;
    width: 80%;
    margin: 3.5rem 10%;
    font-family: 'Fredoka One', sans-serif;
    font-size: 1.5rem;
    color: #4d4d4d;
/*     text-shadow: 1px 1px 1px #4D4D4D;
 */}

.cards-container,
.header-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 2rem;
}

.header-container {
    border-bottom: 2px solid #FFCC00;
}

.see-more {
    color: #FFCC00;
    font-size: 29px;
    text-decoration: none;
    text-shadow: 1px 1px 1px #4D4D4D;
}